doctype html
include ../../static/assets/lib/pug/ldui.pug
html(lang="en")
  head
    meta(charset="utf-8")
    link(href="https://fonts.googleapis.com/css?family=Oxygen:300,700|Roboto:300,500,700|BenchNine|Varela+Round&display=swap", rel="stylesheet")
    +css("assets/lib/bootstrap.min.css")
    +css("assets/lib/ldui.min.css")
    +css("assets/lib/ldpx.min.css")
    +css("css/index.css")
    style: :stylus
      .b
        width: 128px
        height: 128px
        background: #f00
        border-radius: 50%
        display: inline-block
  body: .ldpx.ldpx-full
    .w-100.h-gr.bg-light: .vertical-center
      .text-center.w-100
        h1 ldParallax
        p parallax in both pure css and js
    .w-1024.mx-auto.typeset.heading-contrast.pt-4
      h2 About
      p ldParallax is a css / js library for creating parallax effects in your web page.
      h2 Usage
      p include #[code ldpx.css] in your website:
      .example.code-block.
        &lt;link rel="stylesheet" type="text/css" href="ldpx.css"/&gt;
      //-  &lt;script src="ldpx.js&gt;&lt;/script&gt;
      p add an element with #[code ldpx] and #[code ldpx-full] class as the topmost element:
      .example.code-block.
        &lt;div class="ldpx ldpx-full"&gt;
        &lt;!-- all your content inside here --&gt;
        &lt;/div&gt;
      p for any element you'd like to do parallax, add a #[code ldpxl] class with an optional #[code ds-*] class, * from 1 ~ 8 for the amount of lift:
      .example.code-block.
        #[span.text-muted(style="opacity:0.5") &lt;div class="ldpx ldpx-full"&gt;]
        &lt;div class="ldpxl zs-1" style="background:#f00"&gt; A &lt;/div&gt;
        &lt;div class="ldpxl zs-2" style="background:#f90"&gt; B &lt;/div&gt;
        &lt;div class="ldpxl zs-3" style="background:#ff0"&gt; C &lt;/div&gt;
        &lt;div class="ldpxl zs-4" style="background:#9f0"&gt; D &lt;/div&gt;
        &lt;div class="ldpxl zs-5" style="background:#0f0"&gt; E &lt;/div&gt;
        #[span.text-muted(style="opacity:0.5") &lt;/div&gt;]
      p Here is the result:
      .ldpxl.zs-1(style="background:#f00") A
      .ldpxl.zs-2(style="background:#f90") B
      .ldpxl.zs-3(style="background:#ff0") C
      .ldpxl.zs-4(style="background:#9f0") D
      .ldpxl.zs-5(style="background:#0f0") E

      h2 As a container
      p Instead of parallax when scrolling the web page, you can also do parallax in a scrollable container. Similarly, setup a container with #[code ldpx] but without #[code ldpx-full] class, and layers in #[code ldpxl] classes. Note: you probably will have to do some extra styling to make the container scrollable:
      .row
        .col-md-6
          .code-block.example.
            &lt;div class="ldpx" style="height:200px;padding:200px 0 200px"&gt;
            &lt;div class="ldpxl zs-1" style="background:#f00"&gt; A &lt;/div&gt;
            &lt;div class="ldpxl zs-2" style="background:#f90"&gt; B &lt;/div&gt;
            &lt;div class="ldpxl zs-3" style="background:#ff0"&gt; C &lt;/div&gt;
            &lt;div class="ldpxl zs-4" style="background:#9f0"&gt; D &lt;/div&gt;
            &lt;div class="ldpxl zs-5" style="background:#0f0"&gt; E &lt;/div&gt;
            &lt;/div&gt;

        .col-md-6
          .card: .card-body: .ldpx(style="height:100px;padding:100px 0")
            p.text-center scroll on me to see the effect
            .ldpxl.zs-1(style="background:#f00") A
            .ldpxl.zs-2(style="background:#f90") B
            .ldpxl.zs-3(style="background:#ff0") C
            .ldpxl.zs-4(style="background:#9f0") D
            .ldpxl.zs-5(style="background:#0f0") E
      h2 External Scrolling Element
      p You can use JS part of ldParallax to get the parallax effects using differet scrolling element outside the element with #[code ldpx] class. This will be documented later.
      p To initialize with JS, passing the scrolling element as the #[code host] option to the #[code ldParallax] constructor:
      .example.code-block.
        var el = document.querySelector("your-scrolling-container");
        var ldpx = new ldParallax({host: el});
      p All nodes with #[code ldpx] class under the host element will be added to this object automatically.
      
      p To add nodes outside the scrolling element is under construction.
      h2 Compatibility
      p CSS part of ldParallax uses following modern web technologies:
      ul
        li CSS 3D Transform
      p #[b CSS 3D Transform] is not supported by IE <= 9, so please don't use ldParallax if you need IE <= 9 support.
      p Furthermore, JS part of ldParallax uses following technologies that IE ( all versions ) don't support but it's possible to find polyfill for that. 
      ul
        li Array.from, Array.isArray
        li IntersectionObserver
        li document.scrollingElement

      h2 License
      p ldParallax is released under MIT License.

    +script("assets/lib/bootstrap.native.v4.min.js")
    +script("assets/lib/ldui.min.js")
    +script("assets/lib/ldpx.min.js")
